<%= form_for(@writing) do |f| %>
<%= f.error_messages %>
<p>
  <%= f.label :author %> <%= f.text_field :author %> <br />
  <%= f.label :linkText %> <%= f.text_field :linkText %> <br />
  <%= f.label :date %> <%= f.text_field :date %> <br />
  <%= f.label :text %> <br/>
  <%= f.text_area :text %>
  <br />
  <%= f.label :parseMarkdown %> <%= f.check_box :parseMarkdown %><br />
  <%= f.label :draft %> <%= f.check_box :draft %><br />
</p>
<p>
  <%= f.submit "Update" %>
</p>
<% end %>
