- title "The Archives"
- if !current_user.nil?
  %ul#admin_tools
    %li= link_to 'New', new_writing_path
    %li Admin Tools:

%table#archive
  - @writings.inject(true) do |odd, writing|
    %tr{:class=>(odd)?'odd':'even'}
      %td= link_to writing.title, writing
      %td= "#{writing.date.year}-#{writing.date.month}-#{writing.date.day}"
      %td= writing.draft? ? 'draft' : ''
      - if current_user
        %td{:class=>'admin'}= link_to 'Edit', edit_writing_path(writing)
        %td{:class=>'admin'}= link_to 'Delete', writing, :confirm => 'Are you sure?', :method => :delete
    - !odd
