<h2>Write something</h2>
<%= form_for @writing do |f| %>
<p>
  <%= f.error_messages %>

  <%= f.label :title %> <%= f.text_field :title %><br />
  <%= f.label :date %> <%= f.text_field :date %><br />
  <%= f.label :text %><br />
  <%= f.text_area :text %>
  <br />

  <%= f.label :parseMarkdown %> <%= f.check_box :parseMarkdown %><br />
  <%= f.label :draft %> <%= f.check_box :draft %><br />
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

