-if !current_user.nil?
  %ul#admin_tools
    %li= link_to 'Destroy', @writing, :confirm => 'Are you sure?', :method => :delete
    %li= link_to 'Edit', edit_writing_path(@writing)
    %li Admin Tools:

-if @writing.nil?
  %h4 404
  %p
    That page does not exist.
-else
  -title @writing.title
  :markdown
    #{@writing.content}
  %hr
  %div(style="font-size:0.8em;")
    %p.noindent
      -if !@writing.user.nil?
        Written By: #{@writing.user.name}
        %br
      Published: #{@writing.date.strftime('%B %e, %Y')}

