<ul>
<% @archive.each_key do |y| %>
<li><%= y %><ul>
  <% @archive[y].each_key do |m| %>
    <li><%= m %><ul>
    <% @archive[y][m].each do |c| %>
      <li><%= content.created_at %> <a href="/writings/<%= content.id %>"><%= content.title %></a></li>
    <% end %>
    </ul></li>
  <% end %>
  </ul></li>
<% end %>
</ul>
